@model IEnumerable<TaskList2.Models.ProjectViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "SumTask";
}

<h4>集計とか※工事中</h4>

<table>
    <tr>
        <th>
            ---開始日---
        </th>

        <th>
            ---登録数---
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)&emsp;
            </td>
            <td align="center">
                @item.ProjectCount
            </td>
        </tr>
    }
</table>