@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="jumbotron">
    <h2>TaskList</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            プロジェクト一覧へ
            <a class="btn btn-default" asp-controller="Projects" asp-action="Index">Project&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" asp-controller="Things" asp-action="Index">Task &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/km1015/asp.net-core/tree/master/TaskList2">See project source code &raquo;</a></p>
    </div>
</div>
-->

<div class="jumbotron">
    <h2>TaskList</h2>
    <p>個人用</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to TaskList</h2>
        <p>
            プロジェクト一覧へ
            <a class="btn btn-default" asp-controller="Projects" asp-action="Index">Project&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>
            タスク一覧へ
            <a class="btn btn-default" asp-controller="Things" asp-action="Index">Task &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Other things</h2>
        <p>
            その他
            <a class="btn btn-default" asp-controller="Home" asp-action="About">Option &raquo;</a>
        </p>
    </div>
</div>